{% extends 'base.html' %}


{% block title %}Login | {% endblock %}


{% block content %}
  <v-container>
    <v-card
      max-width="400"
      class="mx-auto mt-12"
    >
      <v-card-title class="text-h5">Sign in to your account</v-card-title>
      <v-form method="post" action="{% url 'login' %}">
      {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <v-card-text class="pb-0">
          <v-alert type="error" v-if="errors.__all__" icon="mdi-alert"><p class="mb-0" v-for="error in errors.__all__.map(i => i.message)">[[ error ]]</p></v-alert>
          <v-text-field
            outlined
            name="username"
            label="Username"
            :error-messages="errors.login ? errors.login.map(i => i.message) : []"
          ></v-text-field>
          <v-text-field
            outlined
            name="password"
            label="Password"
            type="password"
            :error-messages="errors.password ? errors.password.map(i => i.message) : []"
          ></v-text-field>
        </v-card-text>
        <v-card-actions class="d-block text-right pt-0">
          <a href="{% url 'password_change' %}" class="no-decoration">Forgot your password?</a>
        </v-card-actions>
        <v-card-actions>
          <v-row>
            <v-col cols="12">
              <v-btn
                block
                ripple
                color="info"
                type="submit"
              >
                Sign in
              </v-btn>
            </v-col>
            <v-col cols="12">
              <p class="text-center">or <a href="{% url 'register' %}" class="no-decoration">create an account</a></p>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
{
  errors: {{ form.errors.as_json|safe|default:'[]' }}
}
{% endblock %}