{% extends 'base.html' %}


{% block title %}Register | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto mt-12" color="grey lighten-4" max-width="600">
      <v-card-title class="text-h4">Register</v-card-title>
      <v-form method="post">
        {% csrf_token %}
        <v-card-text class="text-body-1">
          <v-alert type="error" v-if="errors.__all__" icon="mdi-alert"><p class="mb-0" v-for="error in errors.__all__.map(i => i.message)">[[ error ]]</p></v-alert>
          <v-text-field
            outlined
            label="Username"
            name="username"
            hint="150 characters or fewer. Letters, digits and @/./+/-/_ only."
            :error-messages="errors.username ? errors.username.map(i => i.message) : []"
          ></v-text-field>
          <v-text-field
            outlined
            type="password"
            label="Password"
            name="password1"
            hint="8 characters or more. Cannot be entirely numeric or similar to your other personal information."
            :error-messages="errors.password1 ? errors.password1.map(i => i.message) : []"
          ></v-text-field>
          <v-text-field
            outlined
            type="password"
            label="Password Confirmation"
            name="password2"
            hint="Enter the same password as before, for verification"
            :error-messages="errors.password2 ? errors.password2.map(i => i.message) : []"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outlined
            color="#0071c5"
            type="submit"
          >
            Register
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
{
  errors: {{ form.errors.as_json|safe|default:'[]' }}
}
{% endblock %}