{% extends 'base.html' %}
{% load range %}


{% block title %}{{ object.name }} | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto mt-12">
      <v-card-title class="text-h4">{{ object.name }}</v-card-title>
      <v-card-text class="text-body-1">
        <div style="display: grid;grid-auto-columns: 1fr;">
          {% for rack in object.rack_set.all %}
            <v-card
              :dark="{{ rack.dark|yesno:'true,false' }}"
              color="{{ rack.color|default:'grey lighten-4' }}"
              style="grid-column: {{ rack.row }} / span 1;grid-row: {{ rack.order }} / span 1;"
              class="ma-2"
            >
              <v-card-title class="text-h5">{{ rack.nickname }}</v-card-title>
              <v-card-subtitle class="text-subtitle-1">{{ rack.name }}</v-card-subtitle>
              <v-card-text class="text-body-1">
                <v-row>
                  <v-col cols="6">
                    {% if rack.kvm %}
                      <v-btn color="info" href="{{ rack.kvm }}" target="_blank">KVM</v-btn>
                    {% endif %}
                  </v-col>
                  <v-col cols="6">
                    {% if rack.server_set.all|length > 0 %}
                      <v-btn color="info" href="{% url 'rack' rack.id %}" target="_blank">Servers</v-btn>
                    {% endif %}
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          {% endfor %}
        </div>
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}