{% extends 'base.html' %}
{% load range %}


{% block title %}{{ object.name }} | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto mt-12 mb-16" max-width="600">
      <v-card-title class="text-h4">{{ object.name }}</v-card-title>
      <v-card-text class="text-body-1">
        <div class="rack-grid">
          {% for server in object.server_set.all %}
            <v-card
              color="grey"
              style="grid-column: 2; grid-row: -{{ server.order }} / span {{ server.size }}"
            >
              <v-card-title class="text-h5">{{ server.name }}</v-card-title>
            </v-card>
          {% endfor %}
          {% for num in 42|getrange %}
            {% if num != 0 %}
              <span style="grid-column: 1; grid-row: -{{ num }}; background-color: {% cycle 'grey' 'lightgrey' %};" class="text-center font-weight-bold pt-3">{{ num }}</span>
              <span style="grid-column: 3; grid-row: -{{ num }}; background-color: {% cycle 'grey' 'lightgrey' %};" class="text-center font-weight-bold pt-3">{{ num }}</span>
            {% endif %}
          {% endfor %}
        </div>
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}