{% load static gravatar %}


<v-app-bar app color="#0071c5">
  <v-toolbar-title class="font-weight-bold white--text mr-3">Lab View</v-toolbar-title>
  <v-toolbar-items>
    <v-btn text dark href="/">Home</v-btn>
  </v-toolbar-items>
  <v-spacer></v-spacer>
  {% if user.is_authenticated %}
    {% if user_labs %}
      <v-toolbar-items>
      {% for lab in user_labs %}
        <v-btn href="{% url 'lab' lab.id %}" text color="white">{{ lab.nickname }}</v-btn>
      {% endfor %}
      </v-toolbar-items>
      <v-divider vertical dark class="ml-3 mr-6"></v-divider>
    {% endif %}
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn icon class="mr-2" v-on="on">
          <v-avatar>
            {% if user.email %}
              <v-img src="{{ user.email|gravatar }}"></v-img>
            {% else %}
              <v-img src="https://www.gravatar.com/avatar/1?d=mp"></v-img>
            {% endif %}
          </v-avatar>
        </v-btn>
      </template>
      <v-list>
        <v-subheader>Welcome, {{ user.username }}</v-subheader>
        {% if user.is_staff %}
        <v-list-item href="/admin" color="info">
          <v-list-item-title><span class="info--text font-weight-bold">Admin Panel</span></v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>
        {% endif %}
        <v-list-item href="{% url 'logout' %}" color="error">
          <v-list-item-title><span class="error--text">Log Out</span></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  {% else %}
    <v-toolbar-items>
      <v-btn href="{% url 'login' %}" text color="white">Login</v-btn>
      <v-btn text color="yellow" href="{% url 'register' %}">Register</v-btn>
    </v-toolbar-items>
  {% endif %}
</v-app-bar>