{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}Lab View</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-snotify@3.2.1/styles/dark.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block additional_css %}{% endblock %}
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      {% include "app-bar.html" %}

      <v-main>
        {% block content %}{% endblock %}
        <vue-snotify></vue-snotify>
      </v-main>

      {% include "footer.html" %}
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-snotify@3/vue-snotify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  {% block additional_vue_scripts %}{% endblock %}
  <script>
    let None = null;
    {% block vue_use %}{% endblock %}
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify(),
      data: {% block data %}{}{% endblock %},
      props: {% block props %}{}{% endblock %},
      methods: {% block methods %}{}{% endblock %},
      watch: {% block watch %}{}{% endblock %},
      computed: {% block computed %}{}{% endblock %},
      mounted() {
        {% if messages %}
          {% for message in messages %}
            this.$snotify.{{ message.level_tag }}("{{ message|safe }}", "{{ message.tags|title }}", {timeout: 5000}){% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
        {% block mounted %}{% endblock %}
      },
      created() {% block created %}{}{% endblock %},
      filters: {% block filters %}{}{% endblock %}
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>