<v-footer padless fixed>
  <v-card flat tile width="100%" color="#0071c5">
    <v-card-text class="d-flex justify-space-between white--text">
      <span>Copyright &copy; 2020 Robert Jauss</span>
      <span>For use by anybody idgaf really</span>
    </v-card-text>
  </v-card>
</v-footer>