{% extends 'base.html' %}


{% block content %}
  <v-container>
    <h1 class="text-h2 text-center my-12">Welcome to Lab View</h1>
    <p class="text-body-1 text-center">To get started, please log in or create an account, then request access to one
    of the following labs from your supervisor.</p>

    <v-card max-width="500" class="mx-auto mt-12">
      <v-list>
        <v-subheader>All labs</v-subheader>
        {% for lab in labs %}
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>{{ lab.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        {% empty %}
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>No labs! Add one to get started</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        {% endfor %}
      </v-list>
    </v-card>

  </v-container>
{% endblock %}